{% extends 'base.html' %}
{% block content %}
<h3>Introducing the Alpha Beta Charlie Society.</h3>
<p>We enthusiastically encourage and welcome one and all to become a member of our society. There is a one time initiation fee of $1 which entitles you to a lifetime membership within the society. The funds produced through the fee's we collect will be used in part to maintain the integrity of the site as well as support the creators and any 3rd party partners necessary to keep the society viable.</p>

<h3>Mission Statement</h3>
<p>Our mission is to provide financial freedom to each and every one of our members. We endeavour to ensure an inclusive society and have gone to great lengths to provide an environment where all members have the same opportunities to improve their financial well being. We wish every member a successful and fulfilling journey through life and understand that the pursuit of happiness often revolves around the luxuries financial freedom has to offer. It is this belief that has emboldened us to create the society. We sincerely hope our efforts improve your lifestyle.

<h3>Modus Operandi</h3>
<p>To achieve our mission we have designed a gamification engine our members use to build their wealth.</p>
<p>The game is predicated on three characters affectionately known as Alpha, Beta and Charlie. These characters are simply transactions in our gaming engine. Your job is to generate as many transactions as you can because each one generates income for you.</p>

<h3>How it works</h3>
<p>Once you become a member you'll have a chance to initiate your Alpha. You'll use your Alpha to spawn a Beta and a Charlie.</p>
<p>Beta and Charlie are friends of your Alpha, which means everyone's Alpha has a friend named Beta and a friend named Charlie.</p>

<p>Everyone's Beta and Charlie are used to make more friends in the system. This means each time a new user joins the system and initiates their Alpha it is greeted with another Alpha's Beta and Charlie friends</p>
<p>To make its own friends the new Alpha must deposit funds into either the Beta and/or the Charlie who has greeted them. In return the Beta or Charlie will spawn two new friends for that Alpha. The Alpha's new Beta and Charlie friends will eventually greet a new Alpha and the process will repeat itself with that new Alpha user.</p>

<h3>So how does this build wealth?</h3>
<p>Each time your Alpha's friends Beta and Charlie spawn new friends for another Alpha you double your money. The best part of all is the system generates the money used to spawn Beta and Charlie transactions for you. This means you never invest more than the $1 lifetime membership fee you paid to become a member. The system initated your game play by giving you a free Beta and Charlie who were used to generate deposits into your account by spawning new Beta and Charlie friends for some other Alpha.
<p> The system runs in perpetuity. The only thing that can prevent the system from building wealth for its members is if the members themself stop spawning Beta and Charlie transactions. Given the fact its essentially free to spawn a Beta and a Charlie we are assuming the system will never stop running and will eventually spawn many millions of dollars for its members.</p>
<br>
<button type="submit" class="btn btn-primary">Get Started</button>

</p>
{% endblock %}
