{% extends 'base.html' %}
{% block content %}
<h3>Welcome to the Alpha Beta Charlie Society</h3>

<p>If you wish to earn income through the site you need to initiate your Alpha, You can do so by clicking the Initiate Alpha button below. This will send you to the checkout form where you'll need to complete the transaction by depositing $1 into the system ALpha Bank. This will pay for you lifetime membership and spawn your first Beta and Alpha friends.</p>
<br>
<button type="submit" class="btn btn-primary">Initiate Alpha</button>

</p>
{% endblock %}
